* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Declare Variables (colors and fonts) */
:root {
  --cream: #EDECDB;
  --light-pink: #E5A9A9;
  --lighter-pink: #fcd0d0;
  --dark-pink: #E6748E;

  --font-cursive: 'Alex Brush', cursive;
  --font-body: 'Lora', sans-serif;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
  background-color: var(--cream);
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}
/* Nav Bar Section */
.navbar {
  background-color: #E5A9A9;
  overflow: hidden;
  position: fixed;
  padding: 0.5rem 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000; 
  justify-content: center;
  font-family: var(--font-body);
}

/* Style links inside the navigation bar */
.navbar a {
  float: left;
  color: #f6f5ea;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #E6748E;
  color: #f6f5ea;
  cursor: pointer;
}

/* Hero Section */

/* Animation for mirror */
.animated-mirror {
    width: 230px;
    height: auto;
    position: absolute;
    animation-name: moveAndRotate;
    animation-duration: 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    z-index: 10;
}
/* Define the keyframes for the animation */
@keyframes moveAndRotate {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
        opacity: 1;
    }
    25% {
        transform: translateX(400px) translateY(0px) rotate(25deg);
        opacity: 1;
    }
    50% {
        transform: translateX(800px) translateY(0px) rotate(-10deg);
        opacity: 1;
    }
    75% {
        transform: translateX(1200px) translateY(0px) rotate(30deg);
        opacity: 1;
    }
    100% {
        transform: translateX(1500px) translateY(0px) rotate(-20deg);
        opacity: 0;
    }
}
/* Animation and custimization of title */
.cursive-title {
  font-family: var(--font-cursive);
  font-size: 11rem;
  color: var(--dark-pink);
  margin-bottom: -40px;
  animation: draw 5s ease-in-out;
  justify-content: center; 
  align-items: center;
  display: flex;
}
.main-name {
  font-family: var(--font-body);
  font-size: 5rem;
  color: var(--light-pink);
  font-weight: 400;
  justify-content: center; 
  align-items: center;
  display: flex;
  animation: draw 5s ease-in-out;
}

/* Key frames definition (for cursive and main name animation) */
@keyframes draw {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Overall layout of hero section */
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--cream);
  position: relative;
  padding-top: 280px;

}

/* Additional animations as decoration */
.animated-ribbon {
  width: 480px;
  height: auto;
  animation: float 3s ease-in-out infinite;
  z-index: 1;
  padding-left: 150px;
  padding-bottom: 200px;
  position: absolute;

}

.animated-butterfly {
  width: 400px;
  height: auto;
  animation: float 4s ease-in-out infinite;
  z-index: 1;
  display: flex;
  position: absolute;
  right: 150px;

}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Applies to all other sections/pages */
.section-title {
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family:var(--font-cursive);
  color: var(--dark-pink);
}
.section-subtitle {
  font-size: 1.8rem;
  color: var(--light-pink);
}

/* About section */
.about-section {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.about-content {
  max-width: 600px;
  background-color: var(--lighter-pink);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.about-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--dark-pink);
}

.about-content p {
  margin-bottom: 1rem;
  font-weight: 300;
}

.animated-ribbon3 {
  width: 1200px;
  height: auto;
  animation: float 3s ease-in-out infinite;
  z-index: 1;
  padding-left: 900px;
  position: absolute;
}

/* Music section */
.music-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 170px;
}
/* Art section */
.art-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 130px;
}

.scroll-container {
  width: 100%;
  overflow: hidden; 
  white-space: nowrap; 
  box-sizing: border-box;
  cursor: pointer;
}

.gallery {
  display: inline-block; 
  animation: scroll-left 35s linear infinite; 
}

.gallery img {
  padding-top: 30px;
  height: 440px; 
  width: auto; 
  flex-shrink: 0;
  object-fit: cover;
  transition: transform 0.4s ease; 
  margin: 10px;
}

.scroll-container:hover .gallery {
  animation-play-state: paused;
}

.scroll-container:hover .gallery img:hover {
  transform: scale(1.2) translateY(-12px);
  z-index: 10;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-50%); 
  }
}
.animated-flower {
  width: 870px;
  height: auto;
  animation: float 3s ease-in-out infinite;
  z-index: -1;
  padding-right: 600px;
  position: absolute;
}
.animated-flower1 {
  width: 960px;
  height: auto;
  animation: float 2.8s ease-in-out infinite;
  z-index: -1;
  padding-left: 800px;
  position: absolute;
}

.travels-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 80px;
}

.scroll-container:hover .gallery-items1 {
  animation-play-state: paused;
}

.scroll-container:hover .gallery-items1 img:hover {
  transform: scale(1.2) translateY(-12px);
  z-index: 10;
}
.gallery-items1 {
  display: inline-block; 
  animation: scroll-left 35s linear infinite; 
}

.gallery-items1 img {
  padding-top: 20px;
  height: 270px; 
  width: auto; 
  flex-shrink: 0;
  object-fit: cover;
  transition: transform 0.4s ease; 
  margin: 10px;
}
.scroll-container:hover .gallery-items2 {
  animation-play-state: paused;
}

.scroll-container:hover .gallery-items2 img:hover {
  transform: scale(1.2) translateY(-12px);
  z-index: 10;
}
.gallery-items2 {
  animation: scroll-left 30s linear infinite; 
}

.gallery-items2 img {
  padding-top: 10px;
  height: 250px; 
  width: auto; 
  flex-shrink: 0;
  object-fit: cover;
  transition: transform 0.4s ease; 
  margin: 10px;
}




@media (max-width: 767px) {

  .cursive-title {
  font-size: 8rem;
}
  .main-name {
  font-size: 3rem;
  font-weight: 300;
}
  .animated-ribbon {
  width: 180px;
  height: auto;
  padding-left: 20px;
  padding-top: 220px;
}
  .animated-butterfly {
  width: 180px;
  height: auto;
  right: 20px;
  padding-top: 220px;

}
.gallery img {
  height: 300px; 
  width: auto; 
}
.gallery-items1 img {
  height: 200px; 
  width: auto; 
}
.gallery-items2 img {
  height: 200px; 
  width: auto; 
}


}