html{
    font-family: Lato;
    background: rgb(254, 255, 247);
    margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --teal: #6BB1AD;
  --gray-blue: #A7BCBD;
  --cream: #EDECDB;
  --light-pink: #E5A9A9;
  --dark-pink: #E6748E;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color: var(--cream);
  overflow-x: hidden;
}

.cursive {
  font-family: 'Alex Brush', cursive;
  font-weight: 400;
}

.navbar {
  background-color: #E5A9A9;
  overflow: hidden;
  position: fixed;
  padding: 0.5rem 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000; 
  justify-content: center;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f6f5ea;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #E6748E;
  color: #f6f5ea;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #E6748E;
  color: white;
}


.animated-mirror {
    width: 230px;
    height: auto;
    position: absolute;
    /* Apply the animation */
    animation-name: moveAndRotate;
    animation-duration: 5s; /* How long the animation takes */
    animation-iteration-count: 1; /* Keeps the animation repeating */
    animation-fill-mode: forwards;
    z-index: 10;
}
/* Define the keyframes for the animation */
@keyframes moveAndRotate {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    25% {
        transform: translateX(400px) translateY(0px) rotate(25deg);
    }
    50% {
        transform: translateX(800px) translateY(0px) rotate(-10deg);
    }
    75% {
        transform: translateX(1200px) translateY(0px) rotate(30deg);
    }
    100% {
        transform: translateX(1600px) translateY(0px) rotate(-20deg);
    }
}

.cursive-title {
  font-family: cursive;
  font-size: 7rem;
  color: var(--dark-pink);
  margin-bottom: 1rem;
  animation: draw 5s ease-in-out;
  justify-content: center; 
  align-items: center;
  display: flex;
}
@keyframes draw {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-name {
  font-family: body;
  font-size: 3rem;
  color: var(--light-pink);
  font-weight: 400;
  justify-content: center; 
  align-items: center;
  display: flex;
  animation: draw 5s ease-in-out;
}
@keyframes draw {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--cream);
  position: relative;
  padding-top: 300px;

}
@media only screen and (max-width: 768px) {
  .hero {
    height: 300px; 
  }
}


.animated-ribbon {
  width: 500px;
  height: auto;
  animation: float 3s ease-in-out infinite;
  z-index: 1;
  padding-left: 200px;
  padding-bottom: 200px;
  position: absolute;

}

.animated-butterfly {
  width: 300px;
  height: auto;
  animation: float 4s ease-in-out infinite;
  z-index: 1;
  position: absolute;

}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}


